
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Use the Borrow Home loan eligibility calculator to know the amount of home loan you can avail in just a minute. ">
    <meta name="keywords" content="loan eligibility, loan eligibility calculator, home loan eligibility calculator">
    <title>Loan credibility Check</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="{% static 'css/fontello.css' %}" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
</head>

<body>
    <div class="sticky-top">
        <div class="collapse searchbar" id="searchbar">
            <div class="search-area bg-white">
                <div class="container">
                    <div class="row">
                        <div class="offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button">Go!</button>
                                </span>
                                <div class="btn-close">
                                    <a class="close " aria-label="Close" data-toggle="collapse" href="#searchbar" aria-expanded="false">
                                        <span aria-hidden="true" class="fas fa-times"></span></a></div>
                            </div>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                </div>
            </div>
        </div>
        <div class="header-topbar">
            <!-- top-bar -->
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6 col-6 d-none d-xl-block d-lg-block">
                        <p class="mail-text">Welcome to our Borrow Loan Website Templates</p>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 col-12 text-right">
                        <div class="top-nav"> <span class="top-text"><a href="#!">View Locations</a> </span> <span class="top-text"><a href="#!">+2349026190497</a></span> <span class="top-text"><a href="#!">LCC calculator</a></span> </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.top-bar -->
        <div class="bg-white">
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container">
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar top-bar mt-0"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <!-- <li class="nav-item">
                             <a class="nav-link " href="index.html">
                                    Home
                                </a>
                        </li> -->
                        <li class="nav-item">
                             <a class="nav-link " href="loan-check.html">
                                    Loan credibility check
                                </a>
                        </li>
                    </ul>
                    <div class="search-nav ml-lg-3 ml-0"> <a class="search-btn" role="button" data-toggle="collapse" href="#searchbar" aria-expanded="false"><i class="fa fa-search"></i></a> </div>
                </div>
            </div>
        </nav>
        </div>
    </div>

    {% block content %}

    {% endblock %}

    <div class="footer section-space100">
        <!-- footer -->
        <div class="container ">
            <div class="row ">
                <div class="col-xl-4 col-lg-4 d-md-none col-sm-12 col-12  ">
                    <div class="footer-logo ">
                        <!-- Footer Logo -->
                        <img src="images/ft-logo.png " alt="Borrow - Loan Company Website Templates ">
                    </div>
                    <!-- /.Footer Logo -->
                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 ">
                    <div class="row ">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 ">
                            <h3 class="newsletter-title ">Signup Our Newsletter</h3>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 ">
                            <div class="newsletter-form">
                                <!-- Newsletter Form -->
                                <form action="newsletter.php" method="post">
                                    <div class="input-group">
                                        <input type="email" class="form-control border-0 shadow-none" id="newsletter"
                                         name="newsletter" placeholder="Write E-Mail Address" required>
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary" type="submit">Go!</button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </div>
                            <!-- /.Newsletter Form -->
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
            </div>
            <hr class="dark-line ">
            <div class="row ">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                    <div class="widget-text mt40 ">
                        <!-- widget text -->
                        <p>Our goal at Borrow Loan Company is to provide access to personal loans and education loan, car loan, home loan at insight competitive interest rates. We are the loan provider, you can use our loan eligibility check service.</p>
                    </div>
                    <!-- /.widget text -->
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 ">
                    <div class="widget-footer mt40 ">
                        <!-- widget footer -->
                        <ul class="listnone ">
                            <li><a href="# ">Home</a></li>
                            <li><a href="# ">Services</a></li>
                            <li><a href="# ">About Us</a></li>
                            <li><a href="# ">News</a></li>
                            <li><a href="# ">Faq</a></li>
                            <li><a href="# ">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- /.widget footer -->
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 ">
                    <div class="widget-footer mt40 ">
                        <!-- widget footer -->
                        <ul class="listnone ">
                            <li><a href="# ">Car Loan</a></li>
                            <li><a href="# ">Personal Loan</a></li>
                            <li><a href="# ">Education Loan</a></li>
                            <li><a href="# ">Business Loan</a></li>
                            <li><a href="# ">Home Loan</a></li>
                            <li><a href="# ">Debt Consolidation</a></li>
                        </ul>
                    </div>
                    <!-- /.widget footer -->
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 ">
                    <div class="widget-social mt40 ">
                        <!-- widget footer -->
                        <ul class="listnone ">
                            <li><a href="#!"><i class="fab fa-facebook-f "></i>Facebook</a></li>
                            <li><a href="#!"><i class="fab fa-google-plus "></i>Google Plus</a></li>
                            <li><a href="#!"><i class="fab fa-twitter "></i>Twitter</a></li>
                            <li><a href="#!"><i class="fab fa-linkedin "></i>Linked In</a></li>
                        </ul>
                    </div>
                    <!-- /.widget footer -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.footer -->
    <div class="tiny-footer">
        <!-- tiny footer -->
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <p>© Copyright 2021 | Simvic</p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-right">
                    <p>Terms of use | Privacy Policy</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.tiny footer -->
    <!-- back to top icon -->
    <a href="#0" class="far fa-top" title="Go to top">Top</a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Back to top script -->
    <script src="{% static 'js/back-to-top.js' %}"></script>
    <script src="{% static 'js/loan-elgiblity.js' %}"></script>
</body>

</html>